body {
  padding: 100px 0;
  background-color: #333;
}

.cap-em-text { font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif; text-transform: uppercase; }

.jumbotron {
    background-color: #FAFAFA;
}

#tell-me-when {
    margin-top: 30px;
}

.custom-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.twitter {
  background-image: url(twitter-bird-light-bgs.png);
  background-size: 60px;
  width: 40px;
  height: 40px;
}

.fb {
  background-image: url(fb-logo-blue-50.png);
  background-size: 40px;
  width: 40px;
  height: 40px;
}

.twitch {
  background-image: url(twitch-icon-purple.png);
  background-size: 50px;
  width: 40px;
  height: 40px;
}

.youtube {
  background-image: url(yt-brand-logo-standard-onecolor-againstwhite.png);
  background-size: 100px;
  width: 100px;
  height: 40px;
}

.link-icon {
    padding: 5px 10px!important;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}